*{
    font-family: "open-sans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
p{
    color: #333;
    font-size: 22px;
    line-height: normal;
    font-weight: 100;
 
}

#navbar, .navitem{
   border-bottom: 1px solid rgb(240, 233, 233);
}

.nav-link{
    color: #fff;
}


.navbar-brand{
    letter-spacing: 8px;
    color: #fff;
    padding-right: 550px;
}

.nav-link{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    color: #fff;
}
 a{
    color: rgb(228, 217, 217);
 }
 a:hover{
    color:rgb(255, 255, 255);
    font-weight: 700;
 }

header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    color: rgb(240, 228, 228);
    background-image: url(img/pexels-eberhard-grossgasteiger-572897.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

 .header-content-inner {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}

header .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 78px;
    letter-spacing: 10px;
    font-weight: 300;
}


header .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

button{
    border-radius: 300px;
    text-transform: uppercase;
    padding: 15px 30px;
    transition: all .35s;
    border: transparent;
}


h5{
    font-size: 35px;
}


/* article 1 */

#article1 {

    background-color: #0d6efd; 
    padding: 70px;
    color: #fff;
}

.col-sm{
    padding: 0;
    margin: 0;
    border: transparent;
    border-radius: 0;
}

.card-img-overlay{
    border-radius: 0%;
    padding: 0;
}

.card{
    border-radius: 0%;
    border: 0px transparent;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  .fa-solid{
    font-size: 30px;
  }

  #article3{
    padding: 50px;
  }
 img{
    margin: 0;
    padding: 0;
 }

 .article-img{
    height: 350px;
 }


.card:hover{
    background-size: 110%; 
    border: 10px solid rgba(99, 87, 87, 0.116);
    line-height: 160px;
 }
  /* media query */ 

  @media  only screen and (max-width: 600px){

    header .header-content-inner h1 {
        font-size: 40px;
        letter-spacing: normal;
    }
#article1{
    padding:30px 0 70px 0 ;
}
#article3{
    padding: 60px 0 60px 0 ;
}
.article-img{
    height: 150px;
}
#main-row, .col-sm-6{
    padding: 0;
}
#article3{
    padding: 5px;
  }
  .navbar-brand{
    padding: 30px;
  }
.row{
     --bs-gutter-x: 0;
}
  }